# IDE
**/.idea/
*.iml
*.sln.ide
_ReSharper.*
*.user
*.suo
.vs/
.vscode/
*.DotSettings

# .NET
[Oo]bj/
[Bb]in/
[Bb]uild/
.nuget/
*.log

**/coverage.xml
**/coveragereport

# Frontend
wwwroot/
!playground/TestProject.Client.Wasm/wwwroot
node_modules/

# Docker
.env

# Sienar
**/SienarFiles/