@page "/"
@using Microsoft.Extensions.Logging
@using Sienar.Ui
@inject ILogger<Index> Logger
@inject ThemeState ThemeState

<h1 class="title">Home</h1>

<MudButton
	Variant="Variant.Filled"
	Color="Color.Primary"
	OnClick="@HandleClick">
	Toggle dark mode
</MudButton>

@code {

	private void HandleClick()
	{
		ThemeState.IsDarkMode = !ThemeState.IsDarkMode;
		Logger.LogInformation("(Current darkmode value) = {darkmode}", ThemeState.IsDarkMode);
	}

}