@use 'variables';

@mixin create-utilities($infix) {
	@each $size, $value in variables.$width-height-percentages {
		.h#{$infix}-#{$size} {
			height: #{$value};
		}

		.w#{$infix}-#{$size} {
			width: #{$value};
		}
	}

	@for $level from 1 through 10 {
		$realLevel: $level * 10;
		.min-vh#{$infix}-#{$realLevel} {
			min-height: #{$realLevel}vh;
		}

		.min-vw#{$infix}-#{$realLevel} {
			min-width: #{$realLevel}vw;
		}
	}
}

@include create-utilities('');

@each $breakpoint, $width in variables.$breakpoints {
	@media (min-width: #{$width}) {
		@include create-utilities('-#{$breakpoint}');
	}
}
